<section id="dashboard" class="">
    <div class="d-flex">
        <div class="sidebar d-flex flex-column gap-3 p-5" style="height: 85vh; width: 250px; background-color: #198754;">
            <a href="" style="text-decoration: none; color: whitesmoke; font-weight: 600; font-size: 20px;"
            routerLink="/dashboard">Dashboard</a>
            <a href="" style="text-decoration: none; color: whitesmoke; font-weight: 600; font-size: 20px;"
            routerLink="/students">Student List</a>
        </div>
        <div class="p-5">
            <h3 class="">Welcome Admin</h3>
        </div>
    </div>
</section>